@use '/src/styles/abstracts/' as *;

.pedidos {
  margin: 6rem;
  max-width: 720px;

  
  @include breakpoint-down(medium) {
    margin: 1rem;
    width: 100%;
  }

  &__first{

    max-width: 720px;

    &-link {
      color: var(--clr-mustard);

      &:hover {
        color: var(--clr-brown);
        transform: scale(1.5);
      }
    }

    @include breakpoint-down(medium) {
      margin: 4rem 0;
      width: 100%;
    }
  }

  &__second {
    &-img {
      margin: 0;
      padding: 0;
      
      @include breakpoint-down(medium) {
        width: 92vw;
        height: auto;
      }
    }
  }
}
